@font-face {
  font-family: 'Vietomotype';
  src: url('D:\Hann\DysleEase\DyslexEase\omotype_viethoa.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #111315;
  height: 250px;
  width: 250px;
  font-family: 'Vietomotype';
}

h1 {
  color: #ffffff !important;
  text-align: center;
  font-size: large;
  font-family: 'Vietomotype';
}

.slogan {
  color: #ffffff;
  text-align: center;
  font-family: 'Vietomotype';
}


.on-btn {
    padding: 0.5em 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    border: #ffffff;
    outline: 0.5em;
    background-color: #3abbff;
    color: #ffffff;
    font-family: 'Vietomotype';
    font-weight: bold;
    /* box-shadow: 2px 2px; */
}

.off-btn {
    padding: 0.5em 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    border: #ffffff;
    outline: 0.5em;
    background-color: #3abbff;
    color: #ffffff;
    font-weight: bold;
    /* box-shadow: 2px 2px; */
}

.popupcontainer {
    justify-content: center;
    text-align: center;
  }